
@font-face {
    font-family: 'Disko';
    src: url(sansation_light.woff)
  }
  
  h1 {
    font-size: 25px;
    color: blue ;
    font-family: 'Disko';
  }
 body {
    font-size: 18px;
    line-height: 2em;

    font-family: "Arial", serif;
  }

 #footer {
    font-size: 18px;
    line-height: 2em;
    color: grey;
    
  }

  .strikethrough:checked + .strikeThis {
    text-decoration: line-through
}